<div style="display: flex; justify-content: end; margin-bottom: 1rem">
  <p-selectbutton
    [(ngModel)]="selectedViewType"
    [options]="[{label: 'Liste', value: 'list'}, {label: 'Karten', value: 'card'}]"
    optionLabel="label"
    optionValue="value" />
</div>


@if (selectedViewType === 'card') {

<div style="display: flex; gap: 1rem; align-items: center; justify-content: center; height: 100%; flex-wrap: wrap">
  @for (retirement of retirements; track retirement.name; let index = $index) {
    <app-retirement-card [retirement]="retirement" [index]="index" />
  }
</div>

} @else {
  <app-retirement-bar-chart [retirements]="retirements"/>
}
